<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico">
    <title>{{ title }}</title>
  </head>
  <body>
    {% if image %}
      <img src="{{ image }}" alt="{{ title }}" style="max-width:100%; margin-bottom:2rem; border-radius:8px;">
    {% endif %}

    {{ content | safe }}
  </body>
</html>
